{% extends "menu.html" %}
{% block modal %}
<section id="confirmationModal">
    <div class="modal-card">
        <h2>Imagem não pôde ser usada</h2>

        <p>Foi detectada uma imagem que não condiz como uma imagem médica.</p>
        <p>Tente novamente.</p>

        <div>
            <button type="button" id="modalCancelBtn">Voltar</button>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    var classIndex = '{{ modal_class_index }}';
    
    if (classIndex != '') {
        document.getElementById('confirmationModal').style.display = 'flex';
    };

    document.getElementById('modalCancelBtn').addEventListener("click", function() {
        document.getElementById('confirmationModal').style.display = 'none';
    });
</script>
{% endblock %}
