<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='icons/favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='icons/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='icons/favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='icons/favicon/site.webmanifest')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>

    <title>Dashboard</title>
</head>
<body>
    <a href="/logout"><img id="imagemLogout" src="../static/icons/saida.svg" alt="Logout"></a>
    <main id="main-content">

        <form action="/redirect-to-model" method="POST" id="confirmModal" class="modal">
            <div class="modal-card">
                <h2>Confirm screen</h2>
        
                <p>Has been detected a image of type: <strong id="class-name-modal">{{ modal_class_name }}</strong>.</p>
                <p>This prediction is correct?</p>
        
                <img src="" alt="">

                <div>
                    <button type="submit" class="modal-confirm-btn">Yes</button>
                    <button type="button" class="modal-close-btn">No</button>
                </div>
            </div>
        </form>

        <form id="errorModal" class="modal">
            <div class="modal-card">
                <h2>Image can't be used</h2>
        
                <p>Has been detect a non medical image.</p>
                <p>Try again.</p>
                
                <img src="" alt="">

                <div>
                    <button type="button" class="modal-close-btn">Back</button>
                </div>
            </div>
        </form>
    
    
        <h1>Medical image classfier</h1>
    

        <form id="file-form" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.image }}
            <input type="submit" value="Enviar">
        </form>
    
        {% if classifications != undefined %}
        <section id="previous-classifications">
            <table>
                <caption>Previous classifications</caption>
    
                <thead>
                    <tr>
                        <th>Images</th>
                        <th>Type</th>
                        <th>Prediction</th>
                        <th>Date / Time</th>
                    </tr>
                </thead>

                <tbody>
                    {% for c in classifications %}
                    <tr class="item-row">
                        <td><img src="data:image/png;base64,{{ c.image }}"></td>
                        <td>{{ c.class_name }}</td>
                        <td>
                            <ul>
                                {% if c.prediction|length >= 3 %}
                                {% for i in range(2) %} 
                                <li><strong> {{ c.prediction[i|string][0] }}:</strong> {{ c.prediction[i|string][1] }}%</li>
                                {% endfor %}
                                {% else %}
                                {% for i in range(2) %}
                                <li><strong> {{ c.prediction[i|string][0] }}:</strong> {{ c.prediction[i|string][1] }}%</li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </td>
                        <td>{{ c.time.strftime("%d/%m/%Y %H:%M")}} UTC</td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </section>
        {% endif %}
    
    </main>

</body>
</html>